.centered_loader {
    margin-top: 10vh;
    width: 100%;
    height: 54vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & span {
        size: 1000%;
    }
}

#checkout_info {
    & * {
        text-align: center;
    }
}

.bigger {
    margin: 0;
    font-size: 25px;
    font-weight: 800;
    padding: 20px;
    text-transform: uppercase;
    color: #a9afc3;
    position: relative;
}

.text {
    max-width: 600px;
    width: 100%;
    line-height: 24px;
    text-align: left;
    color: #404040;
    padding: 20px;

    &.txt-center {
        text-align: center;
    }
    a {
        color: #a9afc3;
    }
}

// REVEAL ANIMATION
.has-animation {
    position: relative;

    p,
    img {
        opacity: 0;
    }

    &.animate-in {
        p,
        img {
            animation: textHidden 0.1s 1.1s forwards;
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            height: 60%;
            z-index: 10;
        }
        &:before {
            background-color: #ff0000;
        }
        &:after {
            background-color: color-mix(in oklab, #ff0000 40%, black);
            animation-delay: 0.5s;
        }
    }

    &.animation-ltr.animate-in {
        &:before {
            animation: revealLTR 1.8s ease;
        }
        &:after {
            animation: revealLTR 1s 0.6s ease;
        }
    }

    &.animation-rtl.animate-in {
        &:before {
            animation: revealRTL 1.8s ease;
        }
        &:after {
            animation: revealRTL 1s 0.6s ease;
        }
    }
}

@keyframes revealRTL {
    0% {
        width: 0;
        right: 0;
    }
    65% {
        width: 100%;
        right: 0;
    }
    100% {
        width: 0;
        right: 100%;
    }
}

@keyframes revealLTR {
    0% {
        width: 0;
        left: 0;
    }
    65% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes textHidden {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 4;
  stroke-miterlimit: 10;
  stroke: green;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: green;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #141414;
  }
}

/*

*/
.order_complete_container{
display: flex;
justify-content: center;
align-items: center;

    .order_complete_text {
        padding: 0px 15px;
        opacity: 0; 
        height: 0;
        transition: max-height 1s ease-in-out, opacity 2s ease-in-out; 

        max-width: 500px;
        @include devices(lgAndAbove) {
            max-width: 1000px;
        }

        text-align: center;
    }
}


@keyframes revealCompleteText {
    0% {
        max-height: 0%; 
        opacity: 0; 
    }
    100% {
        height: 100px; 
        opacity: 1; 
    }
}

.order_complete_text {
    animation: revealCompleteText 1s ease forwards; 
}