#featured {
    margin-top: 3rem;
}

.featured_slides {
    text-align: center;
    overflow: hidden;

    @include devices(md) {
        width: 16rem;
    }
}

.featured_swiper {
    @include padding-y(3rem !important, 5rem !important);
}

.featured_img {
    @include margin-y(2rem, 2rem);
    overflow: hidden;

    img {
        @include img-fit;
    }
}

.countdown_timer {
    font-size: 0.75rem;
}

.progressbar-text {
    display: none !important;
}

.products_price,.percent_tickets_sold {
    text-align: left;
}

.products_price > span {
    font-size: 0.6em;
}

.comp_placeholder,.centered_pulse_loader {
    text-align: center;
    height: 25vh;
    margin-top: 25vh;
}