.static_content {
    margin: 0px 15px;

    p {
        margin-bottom: 24px;
    };
    
    h2 {
        margin-top: 24px;
        margin-bottom: 12px;
        padding-top: 3rem;
    };

    ol {
        margin-left: 30px;
        margin-bottom: 24px;
    }
}

.static_pulse_loader {
    text-align: center;
}
